.cont{
    background-color: #eff1ff;
    width: 80%;
    border-radius: 1em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em 1.5em 1em 1.5em;
}

h2{
    font-weight: bold;
    font-size: 2em;
}

.info{
    width: 70%;
    flex-direction: row;
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.names{
    min-width: 10em;
    text-align: left;
    padding-left: 1em;
}

.buttons{
    width: 60%;
    flex-direction: row;
    justify-content: flex-end;
}

.avatar{
    display: flex;
    align-items: center;
    width: 150px !important;
    height: 150px !important;
}

.avatar img{
    border-radius: 50%;
    width: 100% !important;
}